* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contador {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

#timer {
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  /* padding: 20px; */
  width: 700px;
  color: white;
}

#timer div {
  display: inline-block;
  min-width: 80px;
  padding: 5px;
  background: #020b43;
  border-radius: 10px;
  border: 2px solid #030d52;
  margin: 15px;
}

#timer div span {
  color: #ffffff;
  display: block;
  margin-top: 8px;
  font-size: 0.8rem;
  font-weight: 400;
}

h1.title {
  text-align: center;
  margin-bottom: -5px;
  font-family: "Pacifico", cursive;
  font-size: 1.2rem;
  color: #6ec2e8;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(300px, 80vh);
}

.produto {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 12;
}

section.alinhamento-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #b6b6b6;
}

.imagem {
  /* border: 1px solid red; */
  width: 10rem;
  height: 20rem;
}

img {
  width: 100%;
}

.container-form {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 12;
  /* background-color: red; */
}

.alinhamento-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
form div {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 2rem;
}

input {
  width: 20rem;
  padding: 8px 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  margin: 5px 0;
}

input::placeholder {
  color: #d4d4d4;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #85d1f2;
}

p.promocao {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #b6b6b6;
}

label {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #aba3a3;
}

button {
  padding: 8px;
  width: 20rem;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #0056ff;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #0080ff;
}

@media (max-width: 500px) {
  main {
    display: block;
  }

  #timer {
    font-size: 0.8rem;
    font-weight: 100;
    color: white;
    /* padding: 20px; */
    width: 700px;
    color: white;
  }

  #timer div {
    display: inline-block;
    min-width: 50px;
    padding: 5px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 7px;
  }

  #timer div span {
    color: #ffffff;
    display: block;
    margin-top: 8px;
    font-size: 0.5rem;
    font-weight: 400;
  }

  .imagem {
    /* border: 1px solid red; */
    width: 12rem;
    height: 23rem;
  }
}
